doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='icon', href='/images/favicon.ico')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
    script(src='/js/vexflow.min.js')
    script(src='/js/raphael.min.js')
    script(src='/js/noteify.js')
    script(src='/js/dancer.js')
    script(src='/js/teoria.js')
    script(src='/js/high.js')
    script(src='/js/MIDI.js')
    block scripts
  body
    img.background(src='/images/background.jpg')
    div.headerdiv
    block content
