doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='icon', href='/images/favicon.ico')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
    script(src='/js/noteify.js')
  body
    img.background(src='/images/background.jpg')
    div.headerdiv
    block content